<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Copyright</string>
	<key>uuid</key>
	<string>E9C1A451-5CC9-468E-B571-E8FCE8051F7C</string>
</dict>
</plist>
